html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.telegram {
    width: 100vh;
    height: 100vh;

    &__container {
        width: 450px;
    }
}