body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.home {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    
    &__container {
        padding: 30px;
        height: 100vh;
        border-right: 2px solid #7777;
    }

    &__logo {
        margin-bottom: 50px;
    }

    &__nav__list {
        width: 153px;
        display: flex;
        flex-direction: column;
    }

    &__nav__list-item {
        color: #000;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        font-family: Segoe UI;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__logo-img {
        margin-right: 20px;
    }

    &__nav-list-item {
        margin-right: 30px;
        text-decoration: underline;
        color: #1DA1F2;
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        flex-direction: column
    }

    &__logout--button {
        color: #fff;
        background-color: #1DA1F2;
        border: 1px solid #1DA1F2;
        font-family: Segoe UI;
        border-radius: 6px;
        padding: 4px 12px;
        cursor: nesw-resize;
    }

}

.login {
    width: 100vh;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 auto;

    &__container {
        width: 450px;
    }

    &__about--heading {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 36px;
    }

    &__enterin-with-phone-number-or-email {
        width: 100%;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(136, 134, 134);
        margin-top: 36px;
        border: 2px solid #00000033;
    }

    &__enterin-with-password {
        width: 100%;
        width: 100%;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(114, 114, 114);
        margin-top: 36px;
        border: 2px solid #00000033;
    }

    &__enterin--home-page {
        width: 100%;
        margin-top: 25px;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #fff;
        background-color: #1DA1F2;
        border-radius: 76px;
        border: 1px solid #1DA1F2;
        font-family: "Segoe UI", "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
    }

    &__forgots {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__forgon--password, &__signup-to-twitter {
        font-family: "Segoe UI", "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: right;
        color: #1DA1F2;
    }
}

.signup {
    width: 100vh;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 50px auto;

    &__container {
        width: 670px;
    }

    &__about--heading {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 36px;
    }

    &__enterin-with-phone-number-or-email {
        width: 100%;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(136, 134, 134);
        margin-top: 36px;
        border: 2px solid #00000033;
    }

    &__enterin-with-password {
        width: 100%;
        width: 100%;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(114, 114, 114);
        margin-top: 36px;
        border: 2px solid #00000033;
        margin-bottom: 30px;
    }

    &__next {
        width: 100%;
        margin-top: 25px;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #fff;
        background-color: #1DA1F2;
        border-radius: 76px;
        border: 1px solid #1DA1F2;
        font-family: "Segoe UI", "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
    }

    &__use-email {
        font-family: Segoe UI;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #1DA1F2;
    }

    &__little-heading {
        font-family: Segoe UI;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 40px;
    }

    &__text {
        font-family: Segoe UI;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        opacity: 60%;
        margin-top: 10px;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__select-moth {
        width: 312px;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(136, 134, 134);
        margin-top: 36px;
        border: 2px solid #00000033;
    }

    &__select-day {
        width: 160px;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(136, 134, 134);
        margin-top: 36px;
        border: 2px solid #00000033;
    }

    &__select-year {
        width: 160px;
        border-radius: 6px;
        padding: 23px 10px;
        color: rgb(136, 134, 134);
        margin-top: 36px;
        border: 2px solid #00000033;
    }

    &__login {
        margin-left: 30px;
        color: #1DA1F2;
        font-family: Segoe UI;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: underline;
    }

    // &__next {
    //     margin-left: 30px;
    //     color: #1DA1F2;
    //     font-family: Segoe UI;
    //     font-size: 18px;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: 24px;
    //     letter-spacing: 0em;
    //     text-align: left;
    //     text-decoration: underline;
    // }
}

.users {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;

    &__nav {
        padding: 30px;
        height: 100vh;
        border-right: 2px solid #7777;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    
    &__nav__list-item {
        font-weight: 700;
        font-size: 18px;
        color: #000;

    }

    &__logo-users {
        margin-right: 20px;
    }
}